.stock-stats {
    display: block;
    color: #293241;
    font-family: verdana, arial;
    font-size: small;    
}
.key-stats {
    color: #293241;
    font-family: verdana, arial;
    font-size: medium;
    font-weight: bold;
    text-decoration: underline;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);
}
.wrapper span {
    margin: 1px;
}
.bold {
    font-weight: bold;
}

.stats-item {
    color: #01497c;
    font-family: verdana, arial;
    font-size: small;
}

.stats-name {
    font-family: verdana, arial;
    font-size: small;
    font-weight: bold;
}

.stats-value {
    text-align: bottom;
}