.stock-details {
    display: block;
    width: 100%;
    font-family: verdana, arial;
    padding: 10px;
    color: #293241;
}

.stock-about-name {
    font-size: medium;
}

.stock-desc {
    font-size: small;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);
}
.wrapper span {
    margin: 1px;
}
.ceo {
    grid-column: 1;
    grid-row: 1;
    margin: 2px;
    padding: 2px;
}
.employees {
    grid-column: 2;
    grid-row: 1;
    margin: 2px;
    padding: 2px;
}
.headquarters {
    grid-column: 3;
    grid-row: 1;
    margin: 2px;
    padding: 2px;
}
.founded {
    grid-column: 4;
    grid-row: 1;
    margin: 2px;
    padding: 2px;
}
.bold {
    font-weight: bold;
}