{% load static %}

<li>
    <article class="article">
        <a href="{{article.url}}">
            <img src="{{article.urlToImage}}" alt="" />
            <div class="article__details">
                <div class="header">
                    <p id="source">{{ article.source.name }}</p>               
                </div>
                <h3 id="title">{{ article.title }}</h3>
                <p id="content">{{ article.content }}</p>
                <div class="footer">
                    <p id="author">{{ article.author }}</p>
                    <p id="time">Published at: {{ article.publishedAt }}</p>
                </div>
            </div>
        </a>
    </article>
</li>
