.linechart-nav-bar {
    width: 100%;
    font-size: small;
    font-family: verdana, arial;
}
  
.linechart-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
  
.linechart-nav-item {
    float: left;
}
  
.linechart-nav-item a {
    display: block;
    color: #293241;
    text-align: center;
    padding: 5px 6px;
    text-decoration: none;
}
  
.linechart-nav-item a:hover {
    background-color: #666;
}

.adv-chart {
    float: right;
    font-family: verdana, arial;
    color: #333;
}