
.main-nav-bar {
  width: 100%;
  min-width: 800px;
  font-size: large;
  font-family: verdana, arial;
}

.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-bottom: 2px;
  border-color: black;
}

.main-nav-item {
  float: left;
}

.main-nav-item a {
  display: block;
  color: #01497c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main-nav-item a:hover {
  text-decoration: underline;
}

.search-box {
  float: right;
  text-align: center;
  vertical-align: center;
}

.logo {
  font-weight: bolder;
}

/* search bar */
.search-input {
  color: #01497c;
  width: 500px;
  margin:5px auto;
  font-size: large;
  font-family: verdana, arial;
}

form {
  color: #01497c;
  font-family: verdana, arial;
}


input {
  height: 25px;
  color: #01497c;
  width: 300px;
  margin: 5px;
  font-size: large;
  font-family: verdana, arial;
}

button {
  /* position:relative; */
  padding:5px 15px;
  left:-8px;
  border:1px solid #01497c;
  background-color:#01497c;
  color: white;
  margin:5px auto;
  font-size: medium;
  font-family: verdana, arial;
}

/*
ul.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.main-nav {
  float: left;
}

li.main-nav a.main-nav {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main-nav-bar li a:hover {
  background-color: #666;
}

.main-nav-bar {
  width: 100%;
  font-size: large;
  background-color: #999;
}

.search-box {
  float: right;
  text-align: center;
  vertical-align: center;
}

.logo {
  color: #333;
  font-weight: bolder;
}
*/
